
        
        body 
{  background-color: #FDF5E6;}

#nav-table { width: 800px; }
#nav-td { width: 200px; text-align:center;}   
#nav-body (width: 800px; height: 600px; text-align center;}       
 
