
        
        body { background-image:url(.../Backgorund CSC.jpg);
                height="800" width="600";
  background-color: #FFFAF0}

#nav-table { width: 800px; }
#nav-td { width: 200px; text-align:center;}   
       
 #offical-info {
          background:rgb(230,230,230);}
#all 
   {width:800px;
        margin: auto;
         border: 2px solid blue;
        border-right: 10px solid red; }
 #nav-table
      { background-color: solid red;}
